.formContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-width: 400px;
  max-width: 800px;
  box-shadow: rgba(3, 8, 20, 0.1) 0px 0.15rem 0.5rem,
    rgba(2, 8, 20, 0.1) 0px 0.075rem 0.175rem;
  border-radius: 1rem;
  padding: 0.5rem;
  background: var(--light-bg-color);
  margin: 0.5rem;
}


.formInput {
  display: block;
  box-sizing: border-box;
  min-width: 390px;
  max-width: 800px;
  border-radius: 1rem;
  border: 1px solid var(--primary);
  padding: 5px;
  /* margin-bottom: 5px; */
  font-size: 14px;
}

.inputGroup {
  text-align: left;
  margin-bottom: 1rem;
}

.formError {
  font-size: 10px;
  color: red;
  margin-bottom: 2rem;
}

@media only screen and (max-width: 640px) {
  .formContainer, .formInput {
      width: 350px;  
      margin-left: 5px;
      margin-right: 5px;
    }
  }